<div class="sidenav-header">
    <mat-icon class="sidenav-logo">inventory_2</mat-icon>
    <div class="sidenav-title">Inventory system</div>
</div>

<mat-nav-list>
    <ng-container *ngFor="let item of menuItems()">

        <!-- Item with children -->
        <ng-container *ngIf="item.children && item.children.length > 0; else singleItem">
            <a mat-list-item (click)="toggleSubMenu(item)">
                <div class="custom-layout">
                    <div class="start-group">
                        <mat-icon class="font-20px">{{item.iconName}}</mat-icon>
                        <span class="nav-text">{{item.displayName}}</span>
                    </div>
                    <mat-icon class="expand-icon" [@indicatorRotate]="item.isExpanded ? 'expanded': 'collapsed'">
                        expand_more
                    </mat-icon>
                </div>
            </a>

            <div class="submenu" *ngIf="item.isExpanded">
                <a mat-list-item *ngFor="let child of item.children" [routerLink]="child.route"
                    routerLinkActive="active" class="submenu-item">
                    <div class="custom-layout">
                        <div class="start-group">
                            <mat-icon>{{child.iconName}}</mat-icon>
                            <span class="nav-text">{{child.displayName}}</span>
                        </div>
                    </div>
                </a>
            </div>
        </ng-container>

        <!-- Single Item -->
        <ng-template #singleItem>
            <a mat-list-item [routerLink]="item.route" routerLinkActive="active">
                <div class="custom-layout">
                    <div class="start-group">
                        <mat-icon>{{item.iconName}}</mat-icon>
                        <span class="nav-text">{{item.displayName}}</span>
                    </div>
                </div>
            </a>
        </ng-template>

    </ng-container>
</mat-nav-list>